<div ng-controller="BidderListController" class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <h3>Bidders</h3>
      <input ng-model="query" placeholder="Type to search..." id="bidderQuery"/>
      <b>Matches {{filteredBidders.length}} of {{bidders.length}}</b>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10">
      <table class="table table-striped">
        <thead>
          <tr>
            <td>Number</td>
            <td>Name</td>
            <td>Bids</td>
            <td>Payments</td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="bidder in filteredBidders = (bidders | filter:query) | orderBy:'-count'" ng-if="bidderOnPage($index)">
            <td>{{bidder.id}}</td>
            <td><a href="#/bidder/{{bidder.id}}">{{bidder.name}}</a></td>
            <td><a href="#/payments/{{bidder.id}}">{{bidder.totalBids | currency}}</a></td>
            <td><a href="#/payments/{{bidder.id}}">{{bidder.totalPayments | currency}}</a></td>
          </tr>
        </tbody>
      </table>
      <pagination total-items="filteredBidders.length" class="pagination-sm" items-per-page="itemsPerPage" ng-model="currentPage"></pagination>
    </div>
    <div class="col-sm-10">
        <a class="btn btn-info" href="#/bidder/-1">New Bidder</a>
    </div>
  </div>
</div>

