<div ng-controller="ItemController">
    <h3>Item Maintenance</h3>
    <h4 ng-show="item.id">Item: {{item.id}}</h4>
    <h4 ng-hide="item.id">New Item</h4>
    <form class="form-horizontal" role="form" ng-submit="saveItem()">
        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name" placeholder="Item Name" ng-model="item.name"/>
            </div>
        </div>
        <div class="form-group">
            <label for="bid" class="col-sm-2 control-label">Minimum Bid</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="bid" placeholder="Minimum Bid" ng-model="item.minimumBid"/>
            </div>
        </div>
        <div class="form-group">
            <label for="winners" class="col-sm-2 control-label">Max Winners</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="winners" placeholder="Maximum Winners" ng-model="item.maxWinners"/>
            </div>
        </div>
        <div class="form-group">
            <label for="donorName" class="col-sm-2 control-label">Donor Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="donorName" placeholder="Donor Name" ng-model="item.donorName"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Save</button>
            </div>
        </div>
    </form>
</div>

