<div ng-controller="PaymentController">
  <h3>Enter Payments</h3>
    <form class="form-inline" role="form" ng-submit="addPayment()" novalidate name="form">
        <div class="form-group" ng-class="{'has-error':form.bidderId.$invalid && !form.bidderId.$pristine}">
            <input type="number" size="4" class="form-control col-sm-1" name="bidderId" id="bidderId" placeholder="Bidder #" ng-model="bidderId" ng-change="clearBidder()" ng-blur="getBidder()" required/>
            <input class="form-control" type="text" placeholder="Bidder Name" readonly ng-model="bidder.name"/>
        </div>
        <div class="form-group" ng-class="{'has-error':form.method.$invalid && !form.method.$pristine}">
            <input type="text" class="form-control col-sm-2" name="method" id="method" placeholder="Payment Method" ng-model="method" ng-disabled="!allowPayments()" required/>
        </div>
        <div class="form-group" ng-class="{'has-error':form.reference.$invalid && !form.reference.$pristine}">
            <input type="text" class="form-control col-sm-2" name="reference" id="reference" placeholder="Payment Reference" ng-model="reference" ng-disabled="!allowPayments()" required/>
        </div>
        <div class="form-group" ng-class="{'has-error':form.amount.$invalid && !form.amount.$pristine}">
            <input size="10" class="form-control col-sm-2" id="amount" name="amount" placeholder="Payment Amount" ng-model="amount" type="number" ng-disabled="!allowPayments()" required/>
        </div>
        <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
    </form>
    <span ng-show="error" class="error">{{error}}</span>
    <span ng-show="!form.bidderId.$pristine && form.bidderId.$invalid" class="help-block">Enter a valid numeric bidder number</span>
    <div><hr/></div>
    <div class="col-sm-2"><h4>Balance: {{balance}}</h4></div>
    <div><hr/></div>
    <div class="row">
        <div class="col-md-10">
            <table class="table table-striped table-bordered table-condensed">
                <h5>Winning Bids</h5>
                <thead>
                <tr>
                    <td>Item Number</td>
                    <td>Amount</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="bid in bidder.winningBids">
                    <td>{{bid.itemId}}</td>
                    <td>{{bid.amount | currency}}</td>
                </tr>
                </tbody>
            </table>
            <span ng-if="!bidder.winningBids.length">No winning bids</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <table class="table table-striped table-bordered table-condensed">
                <h5>Payments</h5>
                <thead>
                <tr>
                    <td>Method</td>
                    <td>Reference</td>
                    <td>Amount</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="payment in bidder.payments">
                    <td>{{payment.method}}</td>
                    <td>{{payment.reference}}</td>
                    <td>{{payment.amount | currency}}</td>
                </tr>
                </tbody>
            </table>
            <span ng-if="!bidder.payments.length">No payments</span>
        </div>
    </div>
</div>
